.myimg {
  border-radius: 50%;
  width: 200px;
}

.x{
  color: aliceblue;
} 
#cv-template {
  display: none;
}
body{
  background-image: url("bck.jpeg");
}
#rg{
  color:rgb(255, 125, 3);
  font-weight: bolder;
  font-size:43px;
}
